@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* color: #f8f3f2;
color: #d90368;
color: #820263;
color: #ffd400;
color: #2e294e; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  background: #f8f3f2;
}

h1,
h3,
h4,
p,
a {
  color: #f8f3f2;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: #d90368;
  color: #f8f3f2;
  border: 1px solid #f8f3f2;
  font-weight: 600;
  cursor: pointer;
}

.btn-light {
  /* background-color: rgba(255, 255, 255, 0.2); */
  background: transparent;
  color: #f8f3f2;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #f8f3f2;
  transition: 0.3s;
}
